<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>HireMe</title>
</head>
<style>
#file_input {
  padding-left: 500px;
}
#name{
    margin-top: 100px;
}
#message{
    padding-bottom: 100px;
}

</style>
<body>
   <form action='/users/sendemail' method='POST' enctype="multipart/form-data">
    <center>
     Name:<input type="text" name="name" id="name">
     <br><br>
     Recruiter-email:<input type="email" name="email" id="email">
     <br><br>
     <p id="messsage_p">Message:<p><input type="text" name="message" id="message">
     <br><br>
       <input type="file" name="Resume" id='file' required="required" />
     <br><br><input type="submit" value="Submit">

    </center>
   </form>
</body>
</html>
